node_modules
.staging
bundle
src-tauri/target
src-tauri/gen
src-tauri/resources/bin/
src-tauri/resources/server/
src-tauri/resources/node/
src-tauri/resources/runtime/
src-tauri/resources/HSN_DATASET.csv
src-tauri/icons/android
src-tauri/icons/ios
*.log
.DS_Store
app-icon.png
